html, body {
  margin: 0;
  border: 0;
  font-size: 100%;
  background-color: #dac6e89b;
  color: #4c146a;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace; 
}